body{
    background-color: #393e3f;
    background-image: url("kitten.jpg");
    color: yellow;
    }

h1{
    color:#76eec6;
    font-size:2em;
    }

table {
    border-spacing: 5px;
    }

/*selector untuk class menggunakan notasi dot "." */
#tekspembuka{
    color:#93bd8c;
    font-size:1em;
    }

#profile-pict{
    background-image: url("kitten.jpg");
    }

    .td-header{
    font-style: bold;
    color:#93bd8c;
    vertical-align: baseline;
    }

