
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <form @submit.prevent="submitForm()">
          <p v-if="errors.length">
              <b> Please correct the following errors :</b>
              <ul>
                  <li v-for="error in errors">{{error}}</li>
              </ul>
          </p>
          <label>Nama: </label>
          <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name">
          <label>Alamat: </label>
          <textarea :disabled="buttonStatus == 'upload'" name="address" ref="address" v-model="address"></textarea>
          <label>No HP: </label>
          <input type="text" name="no_hp" ref="no_hp" v-model="no_hp">

          <div v-if="buttonStatus=='submit' ">
            <input type="submit" value="SUBMIT">
          </div>
          <div v-else-if="buttonStatus == 'update'">
            <input type="button" value="UPDATE" @click="updateMember(idEditMember)">
            <input type="button" value="CANCEL" style="margin-top: 5px;" @click="clearForm()">
          </div>
          <div v-else-if="buttonStatus == 'upload'">
            <input type="file" name="photo" ref="photo">
            <input type="button" value="UPLOAD" style="margin-top: 5px; margin-bottom: 5px" @click="submitPhoto(idUploadMember)">
            <input type="button" value="CANCEL" style="margin-top: 5px;" @click="clearForm()">
          </div>
      </form>

      <br><br>
      <table border="1">
          <tr v-for="member of members">
              <td>
                  <img width=100 :src="member.photo_profile ? photoDomain + member.photo_profile: 'https://dummyimage.com/300'">
              </td>
              <td>
                  Name: {{member.name}} <br>
                  Address: {{member.address}} <br>
                  No HP: {{member.no_hp}}
              </td>
              <td>
                  <button @click="editMember(member)"> Edit</button>
                  <button @click="removeMember(member.id)">Hapus</button>
                  <button @click="uploadPhoto(member)">Upload Foto</button>
              </td>
          </tr>
      </table>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
          name: '',
          address: '',
          no_hp: '',
          errors: [],
          members: [],
          photoDomain: 'http://demo-api-vue.sanbercloud.com/',
          buttonStatus: 'submit',
          idEditMember: null
      },
      methods: {
          validationForm: function(){
            this.errors = []
            if (this.name.length < 3){
                this.errors.push("Nama minimal 3 karakter")
                this.$refs.name.focus()
            }
            if (this.address.length > 30) {
                this.errors.push("Alamat paling panjang 30 karakter")
                this.$refs.address.focus()
            }
            if (this.no_hp.length > 12) {
                this.errors.push("No hp maks 12 karakter")
                this.$refs.no_hp.focus()
            }
          },

          submitForm: function() {
              this.validationForm()
              if (this.errors.length === 0) {
                  
                let formData = new FormData()
                formData.append('name', this.name)
                formData.append('address', this.address)
                formData.append('no_hp', this.no_hp)

                const config = {
                      method: "post",
                      url: "http://demo-api-vue.sanbercloud.com/api/member",
                      data: formData
                    }
                axios(config)
                    .then( (response) => {
                        this.clearForm()
                        this.getMembers()
                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
              }
          },
          
          clearForm: function(){
              this.name = ''
              this.address = ''
              this.no_hp = ''
              this.buttonStatus = 'submit'
              this.idEditMember = null,
              this.idUploadMember = null
          },

          getMembers: function(){ //getBlogs di tutorial
              const config = {
                  method: "get",
                  url: "http://demo-api-vue.sanbercloud.com/api/member"
              }
              axios(config)
                .then( (response) => {
                    this.members = response.data.members
                })
                .catch( (error) => {
                    console.log(error)
                })
          },

          removeMember: function(id) {
              const config = {
                  method : 'post',
                  url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                  params: { _method: "DELETE" }
              }
              axios(config)
                .then( (response) => {
                    this.getMembers()
                    alert(response.data.message)
                })
                .catch( (error) => {

                })
          },

          editMember: function(member) {
              this.name = member.name
              this.address = member.address
              this.no_hp = member.no_hp
              this.idEditMember = member.id
              this.buttonStatus = 'update'
          },

          updateMember: function(id) {
            this.validationForm()
            if (this.errors.length === 0) {
                
            let formData = new FormData()
            formData.append('name', this.name)
            formData.append('address', this.address)
            formData.append('no_hp', this.no_hp)

            const config = {
                    method: "post",
                    url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params: { _method: 'PUT'},
                    data: formData
                }
            axios(config)
                .then( (response) => {
                    this.clearForm()
                    this.getMembers()
                    alert(response.data.message)
                })
                .catch( (error) => {
                    console.log(error)
                })
            }
          },

          uploadPhoto: function(member) {
            this.name = member.name
            this.address = member.address
            this.no_hp = member.no_hp
            this.idUploadMember = member.id
            this.buttonStatus = 'upload'
          },

          submitPhoto: function(id) {
              let file = this.$refs.photo.files[0]

              formData = new FormData()
              formData.append('photo_profile', file)

              let config = {
                  method : 'post',
                  url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                  data: formData
              }
              axios(config)
                .then( (response) => {
                    this.clearForm()
                    this.getMembers()
                    alert(response.data.message)
                })
                .catch( (error) => {
                    console.log(error)
                })
          }

      },
      created(){
              this.getMembers()
          }
    })
  </script>
</body>
</html>