
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form @submit="addUser($event)">
        <input type="text" size=50 v-model="name"></input>
        <button @click="addUser">{{buttonlabel}}</button>
      </form>
      <ul>
        <li
          is="username"
          v-for="(user, index) in users"
          v-bind:user="user.name"
          v-bind:index="index"
          v-bind:key="user.name"
          v-on:delete="users.splice(index, 1)"
          v-on:edit="editUser(user.name, index)"
        ></li>
      </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  
  <script>

   Vue.component('username',
        {template: '\
            <li>\
                {{ user }} || \
                <button v-on:click="$emit(\'delete\')">Delete</button> || \
                <button v-on:click="$emit(\'edit\')">Edit</button>\
            </li>\
            ',
        props: ['user']
        })

   var vm = new Vue({
      el: '#app',
      data: {
        name: "",
        idx_update : null,
        users: [
            {name: 'Muhammad'},
            {name: 'Arif'},
            {name: 'Rahman'},
            {name: 'Isma'},
        ],
        buttonlabel: "Add"
      },
      methods : {
        addUser: function(event){
            if (this.buttonlabel == "Add") {
                this.users.push(
                {name: this.name})
            } else if (this.buttonlabel == "Update") {
                this.users[this.idx_update].name = this.name
            }
            this.name = ""
            event.preventDefault()
        },
        editUser: function(user, index) {
            this.name = user
            this.buttonlabel = "Update"
            this.idx_update = index
        }
        }
    })
  </script>
</body>
</html>
