
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <form @submit.prevent="submitForm()">
          <p v-if="$store.state.errors.length">
              <b> Please correct the following errors :</b>
              <ul>
                  <li v-for="error in $store.state.errors">{{error}}</li>
              </ul>
          </p>
          <label>Nama: </label>
          <input type="text" :disabled="$store.state.buttonStatus == 'upload'" name="name" ref="name" v-model="$store.state.name">
          <label>Alamat: </label>
          <textarea :disabled="$store.state.buttonStatus == 'upload'" name="address" ref="address" v-model="$store.state.address"></textarea>
          <label>No HP: </label>
          <input type="text" name="no_hp" ref="no_hp" v-model="$store.state.no_hp">

          <div v-if="$store.state.buttonStatus=='submit' ">
            <input type="submit" value="SUBMIT">
          </div>
          <div v-else-if="$store.state.buttonStatus == 'update'">
            <input type="button" value="UPDATE" @click="updateMember($store.state.idEditMember)">
            <input type="button" value="CANCEL" style="margin-top: 5px;" @click="clearForm()">
          </div>
          <div v-else-if="$store.state.buttonStatus == 'upload'">
            <input type="file" name="photo" ref="photo">
            <input type="button" value="UPLOAD" style="margin-top: 5px; margin-bottom: 5px" @click="submitPhoto($store.state.idUploadMember)">
            <input type="button" value="CANCEL" style="margin-top: 5px;" @click="clearForm()">
          </div>
      </form>

      <br>
      <table border="1">
        <tr is=member-component v-for="member in $store.state.members"
          v-bind:member="member"
          v-on:edit="editMember(member)"
          v-on:remove="removeMember(member.id)"
          v-on:upload="uploadPhoto(member)"
        ></tr>
      </table>
      <br>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  
  <script>
    const store = new Vuex.Store({
        state: {
            name: '',
            address: '',
            no_hp: '',
            errors: [],
            members: [],
            photoDomain: 'http://demo-api-vue.sanbercloud.com/',
            buttonStatus: 'submit',
            idEditMember: null
        },
        mutations: {

        },
        getters: {

        },
    })

   var memberCom = {
    //  data: function(){
    //    return {
    //     photoDomain: 'http://demo-api-vue.sanbercloud.com/',
    //    }
    //  },
     template: `
        <tr>
          <td>
            <img width=100 :src="member.photo_profile ? $store.state.photoDomain + member.photo_profile: 'https://dummyimage.com/300'">
          </td>
          <td>
            Name: {{member.name}} <br>
            Address: {{member.address}} <br>
            No HP: {{member.no_hp}}
          </td>
          <td>
            <button @click="$emit('edit')"> Edit</button>
            <button @click="$emit('remove')">Hapus</button>
            <button @click="$emit('upload')">Upload Foto</button>
          </td>
        </tr>
     `,
     props: ["member"]
   }
    var vm = new Vue({
      el: '#app',
      components: {
        "member-component": memberCom
      },
      store: store,
      //data: {},
      methods: {
          validationForm: function(){
            this.$store.state.errors = []
            if (this.$store.state.name.length < 3){
                this.$store.state.errors.push("Nama minimal 3 karakter")
                this.$refs.name.focus()
            }
            if (this.$store.state.address.length > 30) {
                this.$store.state.errors.push("Alamat paling panjang 30 karakter")
                this.$refs.address.focus()
            }
            if (this.$store.state.no_hp.length > 12) {
                this.$store.state.errors.push("No hp maks 12 karakter")
                this.$refs.no_hp.focus()
            }
          },

          submitForm: function() {
              this.validationForm()
              if (this.$store.state.errors.length === 0) {
                  
                let formData = new FormData()
                formData.append('name', this.$store.state.name)
                formData.append('address', this.$store.state.address)
                formData.append('no_hp', this.$store.state.no_hp)

                const config = {
                      method: "post",
                      url: "http://demo-api-vue.sanbercloud.com/api/member",
                      data: formData
                    }
                axios(config)
                    .then( (response) => {
                        this.clearForm()
                        this.getMembers()
                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
              }
          },
          
          clearForm: function(){
              this.$store.state.name = ''
              this.$store.state.address = ''
              this.$store.state.no_hp = ''
              this.$store.state.buttonStatus = 'submit'
              this.$store.state.idEditMember = null,
              this.$store.state.idUploadMember = null
          },

          getMembers: function(){ //getBlogs di tutorial
              const config = {
                  method: "get",
                  url: "http://demo-api-vue.sanbercloud.com/api/member"
              }
              axios(config)
                .then( (response) => {
                    this.$store.state.members = response.data.members
                })
                .catch( (error) => {
                    console.log(error)
                })
          },

          removeMember: function(id) {
              const config = {
                  method : 'post',
                  url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                  params: { _method: "DELETE" }
              }
              axios(config)
                .then( (response) => {
                    this.getMembers()
                    alert(response.data.message)
                })
                .catch( (error) => {

                })
          },

          editMember: function(member) {
              this.$store.state.name = member.name
              this.$store.state.address = member.address
              this.$store.state.no_hp = member.no_hp
              this.$store.state.idEditMember = member.id
              this.$store.state.buttonStatus = 'update'
          },

          updateMember: function(id) {
            this.validationForm()
            if (this.$store.state.errors.length === 0) {
                
            let formData = new FormData()
            formData.append('name', this.$store.state.name)
            formData.append('address', this.$store.state.address)
            formData.append('no_hp', this.$store.state.no_hp)

            const config = {
                    method: "post",
                    url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params: { _method: 'PUT'},
                    data: formData
                }
            axios(config)
                .then( (response) => {
                    this.clearForm()
                    this.getMembers()
                    alert(response.data.message)
                })
                .catch( (error) => {
                    console.log(error)
                })
            }
          },

          uploadPhoto: function(member) {
            this.$store.state.name = member.name
            this.$store.state.address = member.address
            this.$store.state.no_hp = member.no_hp
            this.$store.state.idUploadMember = member.id
            this.$store.state.buttonStatus = 'upload'
          },

          submitPhoto: function(id) {
              let file = this.$refs.photo.files[0]

              formData = new FormData()
              formData.append('photo_profile', file)

              let config = {
                  method : 'post',
                  url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                  data: formData
              }
              axios(config)
                .then( (response) => {
                    this.clearForm()
                    this.getMembers()
                    alert(response.data.message)
                })
                .catch( (error) => {
                    console.log(error)
                })
          }

      },
      created(){
              this.getMembers()
          }
    })
  </script>
</body>
</html>