
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div
        is="comment-item"
        v-for="(post, index) in posts"
        v-bind:key="post.id"
        v-bind:post = "post"
        v-bind:voteStats = "post.voteStats"
        v-on:upvote="upvote(post.score, post.voteStats, index)"
        v-on:downvote="downvote(post.score, post.voteStats, index)"
      >
    </div>
    <form @submit="addPost($event)">
      <input type="text" size=50 v-model="message"></input>
      <button @click="addPost">Add</button>
    </form>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  
  <script>
    Vue.component('comment-item', {
      template: `
      <div>
        <p />
        <button v-on:click="$emit('upvote')"">+</button>
        <p />
        {{post.post}} || {{post.date}} || Score: {{post.score}}
        <p />
        <button v-on:click="$emit('downvote')"">-</button>
      </div>
      `,
      props: ["post"]
    })

   var vm = new Vue({
      el: '#app',
      data: {
        id: 0,
        message :"",
        posts: []
      },
      methods : {
        addPost: function(event){
          this.posts.push({
            id: this.id++,
            post: this.message,
            date: "19-06-2021",
            score: 0,
            voteStats: 0, //0: blm vote, 1:sudah upvote, -1: sudah downvote
          }),
          this.message = ""
          event.preventDefault()
        },
        upvote: function (score, voteStats, index) {
          if (voteStats > 0) {
            this.posts[index].score--
            this.posts[index].voteStats = 0
          } else if (voteStats == 0) {
            this.posts[index].score++
            this.posts[index].voteStats = 1
          } else {
            this.posts[index].score+=2
            this.posts[index].voteStats = 1
          }
        },
        downvote: function (score, voteStats, index) {
          if (voteStats < 0) {
            this.posts[index].score++
            this.posts[index].voteStats = 0
          } else if (voteStats == 0) {
            this.posts[index].score--
            this.posts[index].voteStats = -1
          } else {
            this.posts[index].score-=2
            this.posts[index].voteStats = -1
          }
        },
      }
    })
  </script>
</body>
</html>
