
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input v-model="char" placeholder="type letters to filter">
        <div v-for="item in books_filtered">{{item}}</div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        books : ["Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Linear Elementer",
            "Aljabar Abstrak",
            "Algoritma Pemrograman"],
       char : ""
      },
      computed: {
          books_filtered: {
              get() {
                  return this.books.filter(item => {
                      return item.toLowerCase().indexOf(this.char.toLowerCase()) > -1 })
                }
            }
        }
    })
  </script>
</body>
</html>
